* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    line-height: 1.5;
    }
    
    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    }
    
    footer {
    padding-left: 8px;
    
    }
    
    nav ul {
    display: flex;
    list-style: none;
    }
    
    nav ul li {
    margin-right: 2rem;
    }
    
    nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    }
    
    nav ul li a:hover {
    color: #fff;
    }
    
    .hero {
    text-align: center;
    padding: 1rem 1rem;
    background-color: #f5f5f5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    }
    
    
    .hero p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
    }
    
    main {
    padding-top: 5rem;
    }
    
    #about{
    padding: 1rem;
    text-align: center;
    }
    
    #about h2{
    padding-top: 7rem;
    }
    
    
    #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 35px;
    }
    
    #about p{
    width: auto;
    }
    
    
    section {
    margin-bottom: 6rem;
    }
    
    section h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #333;
    text-align: center;
    }
    
    .project {
    margin-bottom: 4rem;
    text-align: center;
    }
    
    .project a {
        margin: 1rem;
    }
    
    #work div img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    border: 1.5px solid #000;
    }
    
    #work h2 {
        padding: 0px;
    }
    
    .project img:hover {
    transform: scale(1.1);
    cursor: pointer;
    }
    
    .project h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
    }
    
    .project p {
    margin-bottom: 2rem;
    color: #666;
    text-align: center;
    }
    
    .project a {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #fff;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    }
    
    .project a:hover {
    background-color: #999999;
    }
    
    .projects-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      max-width: 960px; /* adjust this value to match the width of your page */
    }
    
    .project {
      width: 30%;
      margin-bottom: 20px;
    }
    
    #contact form {
    align-items: center;
    display: flex;
    margin: auto;
    margin: 5px;
    }
    
    #contact input{
    border-width: 1px;
    border-color: black;
    margin: 10px;
    padding: 20px;
    text-align: center;
    text-align: start;
    }
    
    #contact textarea{
    border-width: 1px;
    border-color: black;
    margin: 10px;
    padding-top: 12px;
    padding-left: 10px;
    padding-bottom: 12px;
    text-align: center;
    text-align: start;
    }
    
    #contact button{
    height: 100%;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
    }
    
    #contact button:hover {
    background-color: #fff;
    border-radius: 4px;
    text-emphasis-color: black;
    border-width: 2px;
    color: white;
    }
    
    #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    
    
    
    
    
    
    